
x64/Debug/Display System.log
x64/Debug/Display System.tlog/CL.command.1.tlog
x64/Debug/Display System.tlog/Display System.lastbuildstate
x64/Debug/Display System.tlog/unsuccessfulbuild
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
Display-System-Cpp-/
Display System.vcxproj.user
Display System.vcxproj.filters
Display System.vcxproj
Display System.sln
Debug/vc142.pdb
Debug/vc142.idb
Debug/Display System.vcxproj.FileListAbsolute.txt
Debug/Display System.tlog/link.write.1.tlog
Debug/Display System.tlog/link.read.1.tlog
Debug/Display System.tlog/link.command.1.tlog
Debug/Display System.tlog/Display System.lastbuildstate
Debug/Display System.tlog/CL.write.1.tlog
Debug/Display System.tlog/CL.read.1.tlog
Debug/Display System.tlog/CL.command.1.tlog
Debug/Display System.pdb
Debug/Display System.obj
Debug/Display System.log
Debug/Display System.ilk
Debug/Display System.exe
.vs/Display System/v16/ipch/AutoPCH/ce40be4035fd9204/LARGEINTEGER.ipch
.vs/Display System/v16/ipch/AutoPCH/b09a3b3209da24db/DISPLAY SYSTEM.ipch
.vs/Display System/v16/ipch/AutoPCH/6ffcf08c47d80b30/DISPLAY SYSTEM.ipch
.vs/Display System/v16/Browse.VC.opendb
.vs/Display System/v16/Browse.VC.db
.vs/Display System/v16/.suo
.gitattributes
*.txt
x64/Debug/Display System.exe
x64/Debug/Display System.ilk
x64/Debug/Display System.obj
x64/Debug/Display System.pdb
x64/Debug/Display System.tlog/CL.read.1.tlog
x64/Debug/Display System.tlog/CL.write.1.tlog
x64/Debug/Display System.tlog/link.command.1.tlog
x64/Debug/Display System.tlog/link.read.1.tlog
x64/Debug/Display System.tlog/link.write.1.tlog
